<table>
    <thead>
    <tr>
        <th>{{ knp_pagination_sortable(products, 'Id', 'p.id') }}</th>
        <th>{{ knp_pagination_sortable(products, 'Name', 'p.name') }}</th>
        <th>{{ knp_pagination_sortable(products, 'Price', 'p.price') }}</th>
        <th>{{ knp_pagination_sortable(products, 'Description', 'p.description') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ knp_pagination_render(products) }}